body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:whitesmoke;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.NavBar{
    margin:auto;
    text-align: left;
    width: 100%;
    font-family: arial;
    background-color: white;
    border-bottom: 2px black;
    box-shadow: 0px 1px 30px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
}

.NavButton{
    margin: 5px;
    background-color: white;
    font-size: larger;
    border: none;
    color:deepskyblue;
}

.search-container{
    margin: 5px;
}

.kiri{
    align-items: left;
}

.kanan{
    align-items: right;
    display: flex;
    margin-left: auto;
}

.textbox{
    width: 220px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.top h1{
    color:deepskyblue;
    padding: 5px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.top button{
    background-color: green;
    color: white;
    border-radius:5px;
    padding: 5px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.Footer{
    position: fixed;
	bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    color:deepskyblue;
}

.Content {
    display: grid;
    justify-content: center;
    margin: 20px;
    text-align: center; 
  }
  
  .Content h1 {
    color: deepskyblue;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: deepskyblue;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  